/* This is going to be our only stylesheet */

body {
    font-family: Roboto, sans-serif;
}

.Header,
.Top {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    font-size: 24px;
    flex-wrap: wrap;
    flex: 0 1 auto;
}

.Links {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 32px;
    font-size: 24px;
}

.Hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 1 auto;
    margin-left: 64px;
    max-width: 800px;
}

.Hero h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
}

.Hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
    margin-bottom: 16px;
}

.img {
    display: flex;
    flex: 0 1 auto;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

#check {
    background-color: #3882F6;
    color:#E5E7EB;
    font-size: 18px;
    height: 48px;
    width: 200px;
    border: solid 10px #3882F6;
    border-radius: 8px;
}